<ion-view>
  <ion-content>
     <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
        </label>
     </div>
     <div class="row table-header">
         <div class="col">
            Grocery
         </div>
         <div class="col">
            Opening
         </div>
         <div class="col">
            Distance
         </div>
     </div>
     <div class="row open_store">
        <div class="col">
            Correfour
        </div>
        <div class="col">
            7h30 to 5h00
        </div>
        <div class="col">
            400m &nbsp;<span class="detail_btn"><i class="icon ion-ios-information"></i></span>
        </div>
     </div>
     <div class="row close_store">
        <div class="col">
            Correfour
        </div>
        <div class="col">
            7h30 to 5h00
        </div>
        <div class="col">
            400m &nbsp;<span class="detail_btn"><i class="icon ion-ios-information"></i></span>
        </div>
     </div>
  </ion-content>
</ion-view>
